body,
html {
  width: 100%;
  height: 100%;
  background-color: #dddddd;
}

body {
  box-sizing: content-box;
  margin: 0;
}

table,
th,
td {
  border: 1px solid;
}

pre {
  white-space: pre-wrap;
}

.container {
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  justify-content: center;
  padding: 8px;
  grid-template-columns: 700px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

img {
  max-width: 100%;
}

.footnote-ref {
  text-decoration: none;
}

.footnote-ref sup {
  text-decoration: underline;
}

.footnote-ref sup::before {
  content: "[";
}

.footnote-ref sup::after {
  content: "]";
}

.sidenote {
  position: relative;
  list-style: none;
  float: right;
  clear: right;
  max-width: 30%;
  margin: 6px;
  vertical-align: baseline;
}

.sidenote p {
  margin: 0;
  font-size: 11px;
}

.sidenote * {
  width: 100%;
}

.sidenote sup {
  margin-right: 4px;
}

.footnotes hr {
  display: none;
}

/* /things  */
.container.things img {
  width: 300px;
}

.post-container.things .date {
  visibility: hidden;
}

.post-container.things .date::before {
  content: attr(data-year);
  visibility: visible;
}

.list.things .monthandday {
  display: none;
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 100%;
  }

  .sidenote {
    min-width: 100px;
  }
}
